body {
    background-image: url("https://wallpapercave.com/wp/y1UH6zu.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-color: #cccccc;
    background-size: 1800px 1000px;
 }
 input[type=text] {
    width: 250px;
    height:25px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
label {
    color:brown;
    font-weight: bold;
    display: block;
    width: 150px;
    float: left;
    font-size: 20px;
    }
    #header{
        font-size:20px;
        text-shadow: 2px 2px #ff0000;
        margin-left: 700px;
    }
    .entry__header h2{
        color:orange;
    }
    #saveEntryButton:active
    {
    
            background-color:lightskyblue;
            box-shadow: 0 5px #666;
            transform: translateY(4px);
          
}
#saveEntryButton
    {
        padding: 15px 25px;
        font-size: 24px;
        text-align: center;
        cursor: pointer;
        outline: none;
        color: #fff;
        background-color:lightslategray;
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px #999;
    }
    #saveEntryButton:hover {background-color:brown}
    footer {
        text-align: center;
        color: white;
        position: absolute;
        bottom: 0;
        left: 0%;
        width: 100%;
        height: 4em;
        background: brown;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;
    }
    .card{
      
     height: 350px;
     width: 250px;
     background-color: white;
     text-align: center;
     margin: 15px;
     display: inline-block;
     border: 1px solid #ccc;
     box-shadow: 0px 5px 25px #aaa;
     border-radius: 10px;
     box-sizing: border-box;
  border: 1px solid #ddd;
  background-color: rgba(0, 150, 0, .3);
  display: inline-block;
  width: 150px;
  height: 250px;
    }