body {
    background-image: url("https://wallpapercave.com/wp/y1UH6zu.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-color: #cccccc;
    background-size: 1800px 1000px;
 }
 input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
label {
    color:brown;
    font-weight: bold;
    display: block;
    width: 150px;
    float: left;
    font-size: 20px;
    }
    #header{
        font-size:20px;
        text-shadow: 2px 2px #ff0000;
        margin-left: 700px;
    }
    .entry__header h2{
        color:orange;
    }